@page
@model PrivacyModel
@{
    ViewData["Title"] = "About Us";
}
<h1>@ViewData["Title"]</h1>
<hr />
<h3>This was Programmed by 3 Students in FCI Minia as the project for the security course</h3>
<h5>&copy;All Rights are reserved for:</h5>
<p>Baher Youhanna Yacoub</p>
<p>Deyaa Taha Abdulhamid</p>
<p>Sameh Khalaf Abduldaiem</p>
