@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Sorry!</h1>
<h2 class="text-danger">You have Encountered an Error! Please, Return to <a class="alert-link" asp-page="/Index">Home</a></h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Thanks for Using Cryptor ^_^</h3>

