@page
@model IndexModel
@{
    ViewData["Title"] = "Cryptor";
}

<div class="text-center">
    <h1 class="display-4">Welcome To Cryptor</h1>

    <br>
        <p class="display-6">Made with ❤ by</p>
        <p>Baher Youhanna Yacoub Attallah</p>
        <p>Deyaa Taha Abdulhamid</p>
        <p>Sameh Khalaf Abduldaiem</p>
</div>
